.modal--window {
  width: 100vh;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal--window.active {
  transform: scale(1);
}

.modal--window__content {
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  width: 400px;
  height: 400px;
}
