@import '../styles.scss';

.main-twit__twit {
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
  border-bottom: 1px solid rgb(56, 68, 77);
  cursor: pointer;
}
.main-twit__twit:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.main-twit__twit-avatar {
  margin-right: 10px;
}

.main-twit__twit-avatar img {
  width: 49px;
  height: 49px;
  border-radius: $borderRadiusMax;
}

.main-twit__twit-avatar img:hover {
  opacity: 0.7;
}

.main-twit__twit-user-data-label-more {
  padding-right: 15px;
}

.main-twit__twit-content {
  max-width: 507px;
  width: 100%;
}

.main-twit__twit-user-data-label-name {
  font-weight: bold;
  margin-right: 8px;
}

.main-twit__twit-user-data-label-name:hover {
  text-decoration: underline;
}

.main-twit__twit-user-data-label-second-data {
  color: rgb(136, 153, 166);
}
.main-twit__twit-user-data-label-second-data:hover {
  text-decoration: underline;
}

.main-twit__twit-action-icons {
  display: flex;
  justify-content: space-between;
  width: 425px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-twit__twit-icon {
  display: flex;
  font-size: 13px;
}

.main-twit__twit-icon-description {
  margin-left: 5px;
  margin-top: 1px;
  color: rgb(136, 153, 166);
}

.main-twit__twit-icon i {
  color: rgb(136, 153, 166);
  padding-bottom: 5px;
  padding-right: 7px;
  padding-left: 8px;
}

/* hover */

/* delete */
.main-twit__twit-user-data-label-more:hover i {
  background-color: $blueColorHover;
  color: red;
  border-radius: $borderRadiusMax;
}
/* reply */
.main-twit__twit-icon-reply:hover i {
  background-color: $blueColorHover;
  color: $blueColorActive;
  border-radius: $borderRadiusMax;
}
.main-twit__twit-icon-reply:hover .main-twit__twit-icon-description-reply {
  color: $replyColor;
  border-radius: $borderRadiusMax;
}
/* repost */
.main-twit__twit-icon-repost:hover i {
  background-color: $blueColorHover;
  color: $repostColor;
  border-radius: $borderRadiusMax;
}
.main-twit__twit-icon-repost:hover .main-twit__twit-icon-description-repost {
  color: $repostColor;
  border-radius: $borderRadiusMax;
}
/* like */
.main-twit__twit-icon-like:hover i {
  background-color: $blueColorHover;
  color: $likeColor;
  border-radius: $borderRadiusMax;
}

.main-twit__twit-icon-like-active i {
  color: $likeColor;
}
.main-twit__twit-icon-like:hover .main-twit__twit-icon-description-like {
  color: $likeColor;
  border-radius: $borderRadiusMax;
}
/* share */
.main-twit__twit-icon-share:hover i {
  background-color: $blueColorHover;
  color: $blueColorActive;
  border-radius: $borderRadiusMax;
}
